<form class="example-form" #loginForm="ngForm" (ngSubmit)="onLogin()" autocomplete="on">

  <div class="login__logo">
    <i class="icon--rd"></i>
    <i class="icon--rp"></i>
  </div>
  <br>
  <div class="form--vertical">
    <div class="form__group">
      <label>Username</label>
        <!-- <mat-form-field class="example-full-width">
          <input matInput placeholder="username" name="username" [(ngModel)]="username" autocomplete="on">
        </mat-form-field> -->
      <input type="text" placeholder="e.g., garrettswainston" id="username" name="username" [(ngModel)]="username" autocomplete="on">
    </div>
    <div class="form__group">
      <label>Password</label>
      <input type="password" placeholder="e.g., •••••••••" id="password" name="password" [(ngModel)]="password" autocomplete="on">
    </div>
    <div class="form__group">
      <button type="submit" class="btn btn--primary" [disabled]="loading">Login</button>
      <a class="btn--link" routerLink="/auth/forgot">Forgot your password?</a>
    </div>

  </div>

  <div class="alert--warning" *ngIf="errorMessage"><img src="/assets/images/max.gif" alt="">
    <br>{{ errorMessage }}</div>

</form>
