@mixin btn($color-bg, $color-text) {
  background-color: $color-bg;
  color: $color-text;
  border: none;
  outline: none;
  min-width: 40px;
  padding: 6px 16px;
  line-height: 36px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  border-radius: $radius;
  margin-right: 8px;
  line-height: 1.5em;
  @include animation-subtle;

  @include hover-focus {
    //background-color: darken($color-bg, 10%);
    box-shadow: inset 0 -2px 0 darken($color-bg, 5%);
    color: $color-text !important;
    text-decoration: none;
  }

  &:active {
    //background-color: $color-bg;
    //transform: translateY(-1px);
    box-shadow: inset 0 2px 0 darken($color-bg, 10%);
  }

  &.disabled,
  &:disabled {
    background-color: transparentize($color-bg, 0.5);
    color: lighten($color-text, 50%);
    cursor: not-allowed;
    //pointer-events: none;
    @include hover-focus {
      box-shadow: none;
      color: lighten($color-text, 50%) !important;
    }
    &:active {
      box-shadow: none;
    }
  }
}

.btn,
.btn--standard {
  @include btn($snow, $slate);
}

.btn--primary {
  @include btn($primary-color, $white);
}

.btn--warning {
  @include btn($yellow, $white);
}

.btn--danger {
  @include btn($red, $white);
}

.btn--success {
  @include btn($green, $white);
}

.btn--link {
  @include btn(transparent, $blue);
  @include hover-focus {
    background-color: transparentize($blue, 0.9);
  }
  &:active {
    background-color: transparentize($blue, 0.85);
  }
}

.btn--subtle {
  @include btn(transparent, $slate);
  @include hover-focus {
    background-color: transparentize($slate, 0.9);
  }
  &:active {
    background-color: transparentize($slate, 0.85);
  }
}

.btn--excel {
  @include btn(transparentize($excel, 0.7), lighten($white, 50%));
  padding: 6px 12px;
  line-height: normal;
  letter-spacing: 0.5px;
  font-size: 12px;

  &.selected {
    background-color: $excel;
    color: $white;
  }
}

.btn--pdf {
  @include btn(transparentize($pdf, 0.7), lighten($white, 50%));
  padding: 6px 12px;
  line-height: normal;
  letter-spacing: 0.5px;
  font-size: 12px;

  &.selected {
    background-color: $pdf;
    color: $white;
  }
}

.btnGroup {
  display: inline-block;
  margin: 4px;
  position: relative;
  vertical-align: middle;
  div {
    margin: 0 1px 0 1px;
    border-radius: 0;
    float: left;
    position: relative;
  }
  div:first-child {
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
  }
  div:last-child {
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
  }
}

.btnToolbar {
  display: inline-block;
  @extend .clearfix;
}
