.login__content {
   background: white; 
   width: 500px;
   position: absolute;
   height: 100%;
   padding: 48px;
    @media #{$small-and-down} {
        width: 100%;
        padding: 16px;
    }

   .login__logo {
       text-align: center;
       font-size: 40px;
       color: $primary-color;
       margin-bottom: 20vh;
        @media #{$small-and-down} {
            margin-bottom: 48px;
        }

       i {
           padding: 0 16px;
       }
   }
}

.login__graphic {
    background: $base-gradient;
    height: 100%;
    position: absolute;
    left: 500px;
    right: 0;
    @media #{$small-and-down} {
        display: none;
    }
}