
.modal {
    //display: none;
    background: $white;
    padding: 40px;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    overflow-y: auto;
    visibility: hidden;
    backface-visibility: hidden;
    max-width: $large-screen;
    margin: auto;
    transform: translateY(200px);
    @include animation-emphasized;

    @media #{$small-and-down} {
        padding: 16px;
    }

    &.open {
        display: block;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .modal__border {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 8px;
        background: $base-gradient;
        display: none;
    }
    
    .modal__header {
        margin-bottom: 16px;
        .modal__title {
            @extend h1;
            display: inline;
            line-height: 56px;

            @media #{$small-and-down} {
                font-size: 24px;
                line-height: 40px;
            }
        }
        .modal__close {
            float: right;
            display: inline-block;
            background: $snow;
            color: $silver;
            width: 56px;
            height: 56px;
            line-height: 56px;
            vertical-align: middle;
            text-align: center;
            font-size: 32px;
            border-radius: 50%;
            padding-top: 2px;
            @include animation-subtle;

            @include hover-focus {
                cursor: pointer;
                color: $white;
                background-color: $slate;
            }

            @media #{$small-and-down} {
                width: 40px;
                height: 40px;
                font-size: 18px;
                line-height: 40px;
            }
        }
    }

    .modal__body {
        //background: $snow;
    }

}

.modal__overlay {
    opacity: 0;
    visibility: hidden;
    backface-visibility: hidden;
    z-index: 9;
    background: $base-gradient;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include animation-emphasized;

    &.open {
        display: block;
        opacity: 0.7;
        visibility: visible;

    }
}

body.modalOpen {
    overflow-y: hidden;
}