/* ==========================================================================
   Styling for Scheduled Reports
   ========================================================================== */

/* Wraps the list of previously scheduled reports */
.scheduled-report__list--wrapper {
  display: flex;
  flex-flow: row wrap;
  margin: 24px 0;
  padding: 0;
  list-style: none;

  li {
    padding: 3px 16px;
    border-radius: $radius;

    &:nth-child(even) {
      background-color: lighten($blue, 40%);
    }
  }
}

/* Represents a single, previously scheduled report */
.scheduled-report__list--item {
  flex: 0 1 100%;
  display: flex;

  h3 {
    margin: 0;
    padding: 0;
  }

  p {
    margin: -3px 0 0 0;
    color: $silver;
  }

  span {
    color: $silver;
  }

  > div {
    box-sizing: border-box;
    margin: 16px 0;

    &:first-child {
      flex: 1;
    }

    &:nth-child(2) {
      flex: 0.5;
      text-align: right;
      padding-top: 4px;

      div:last-child {
        margin: 0 0 0 4px;
      }
    }
  }
}

/* Wrapper for all Daily Schedule options */
.scheduled-report__daily--wrapper {
  display: block;
}

/* Wrapper for days of week checkboxes */
.scheduled-report__days-of-week {
  max-height: 22px;
  margin: -5px 0 8px 28px !important;

  > div {
    display: inline-block;

    > label {
      font-weight: 400 !important;
      margin: 0 4px 0 0 !important;
      padding: 3px 0 0 23px !important;
    }
  }
}

/* Wrapper for frequency - Daily, option 3  */
.scheduled-report__daily--option-3 {
  > div {
    width: 12%;
    margin: -15px 0 0 28px;
  }
}

/* Wrapper for all Weekly Schedule options */
.scheduled-report__weekly--wrapper {
  display: none;
  > label {
    padding-left: 0 !important;
  }
}

/* Wrapper for frequency - Weekly, option 1 */
.scheduled-report__weekly--option-1 {
  label {
    padding-left: 0 !important;
  }

  > div {
    width: 12%;
    margin: -15px 0 8px 0;
  }
}

/* Wrapper for all Monthly Schedule options */
.scheduled-report__monthly--wrapper {
  display: none;

  > div:nth-of-type(2) {
    display: inline-block;
  }

  > div:nth-of-type(3) {
    display: inline-block;
    margin-left: 8px;
  }

  > div:nth-last-of-type(-n + 2) {
    display: inline-block;
    margin-top: 2px;
  }

  h3:nth-child(2) {
    margin-bottom: 3px !important;
  }

  .btnGroup {
    max-width: 352px;
    margin: 0 0 7px 0 !important;
  }

  .btn {
    width: 56px !important;
    margin-bottom: 2px;
    font-variant: small-caps;
  }

  .control-group {
    margin-top: 6px;
  }
}

/* Wrapper for Recipient section */
.scheduled-report__recipients--wrapper {
  .form--horizontal {
    > div:nth-last-of-type(1) > div:last-of-type {
      font-weight: 700;
      margin-top: 6px;
    }
  }
}

/* Wrapper for Roles container */
.scheduled-report__roles--wrapper {
  margin-top: 16px;
  padding: 16px 16px 0 16px;
  border-radius: $radius;
  background-color: $white;

  .tabs--horizontal {
    margin: 0 !important;
  }

  .recipients--wrapper {
    padding: 8px 0;
    max-height: 384px;
    overflow-y: auto;

    .toggle__labelled.selected {
      padding: 16px;
      border-radius: $radius;
      border: solid 2px $snow;
    }

    .toggle__content {
      a {
        text-decoration: none;
        margin-right: 4px;
      }

      .button--wrapper {
        margin-top: 8px;
        padding-left: 0;
      }

      .pdf,
      .excel {
        display: inline-block;
        height: 8px;
        width: 16px;
        margin: 0 1px 2px 0;
        border-radius: 2px;
      }
      .pdf {
        background-color: $pdf;
      }
      .excel {
        background-color: $excel;
      }
    }
  }
}
