@mixin hover-focus {
    &:focus,
    &:hover {
      @content
    }
};

@mixin animation-subtle {
    //transition: all linear 80ms;
    transition: all ease-in-out 0.08s;
};

@mixin animation-emphasized {
    transition: all ease-in-out 0.2s;
};

@mixin animation-zoom {
    animation: zoom 0.2s ease-in-out both;
}

@mixin gradient($color-1, $color-2) {
    background: linear-gradient(135deg, $color-1 0%, $color-2 100%);
}

// Float utilities
.pull--right {
    float: right !important;
}
.pull--left {
    float: left !important;
}

// Add to parent to clearfix
.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// Animations
@keyframes zoom {
    from {
        transform: scale(0.7);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}